<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="css/style.css">

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand"  style="margin-left: 30px" href="#">LSchool</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Student
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="#">Data</a></li>
                            <li><a class="dropdown-item" href="#">Subjects</a></li>
                            <li><a class="dropdown-item" href="#">Historic</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Teacher
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="#">Data</a></li>
                            <li><a class="dropdown-item" href="#">Subjects</a></li>
                            <li><a class="dropdown-item" href="#">Historic</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid-page" >
        <div class="container-title">
            <h1>Hello, Student!</h1>
        </div>

        <div class="container-card">
            <div class="card mb-3" style="max-width: 90%;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://www.usnews.com/object/image/00000187-c410-d3f1-a5cf-f598c8280000/gettyimages-1396463050.jpg?update-time=1682621779914&size=responsive640" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">SEND pupils 'at heart' of improvement plan</h5>
                            <p class="card-text">A plan to improve care and support for children with Special Educational Needs and Disabilities (SEND) in Plymouth has been agreed following a critical report.
                                Inspectors found "widespread" failings and "significant concerns" , externalabout the experiences of some students. ".</p>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 90%;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/FCAE/production/_131468646_hannah-cheesman-4.jpg.webp" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">T-levels roll-out to see more than 200 courses scrapped</h5>
                            <p class="card-text">The qualifications, including BTecs and other post-GCSE courses, were taken by a total of over 50,000 students per year in England in 2020-21, according to the government's enrolment data.

                                They are being removed to "streamline further education", the Department for Education (DfE) said.."</p>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="rodape">
            <ul>
                <li>Lshool</li>
            </ul>
        </div>

    </div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>